
@{
    Layout = null;
}


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>Landrick - Saas & Software Landing Page Template</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Premium Bootstrap 5 Landing Page Template" />
    <meta name="keywords" content="Saas, Software, multi-uses, HTML, Clean, Modern" />
    <meta name="author" content="Shreethemes" />
    <meta name="email" content="support@shreethemes.in" />
    <meta name="website" content="https://shreethemes.in" />
    <meta name="Version" content="v3.8.0" />
    <!-- favicon -->
    <link rel="shortcut icon" href=@Url.Content("~/Content/Styles/images/favicon.ico")>
    <!-- Bootstrap -->
    <link href=@Url.Content("~/Content/Styles/css/bootstrap.min.css") rel="stylesheet" type="text/css" />
    <!-- Icons -->
    <link rel="stylesheet" href="~/Content/Styles/font-awesome/css/all.min.css">
    <!-- Main css -->
    <link href=@Url.Content("~/Content/Styles/css/style-rtl.css") rel="stylesheet" type="text/css" id="theme-opt" />
    <link href=@Url.Content("~/Content/Styles/css/colors/default.css") rel="stylesheet" id="color-opt">

</head>

<body>
    <!-- Loader -->
    <!-- <div id="preloader">
        <div id="status">
            <div class="spinner">
                <div class="double-bounce1"></div>
                <div class="double-bounce2"></div>
            </div>
        </div>
    </div> -->
    <!-- Loader -->
    <div class="back-to-home rounded d-none d-sm-block">
        <a href="@Url.Action("Index","Home")" class="btn btn-icon btn-soft-primary"><i data-feather="home" class="icons"></i></a>
    </div>

    <!-- Hero Start -->
    <section class="bg-auth-home d-table w-100">
        <div class="container">
            @RenderBody()
        </div> <!--end container-->
    </section><!--end section-->
    <!-- Hero End -->
    <!-- Style switcher -->
    <div id="style-switcher" class="bg-light border p-3 pt-2 pb-2" onclick="toggleSwitcher()">
        <div>
            <h6 class="title text-center">انتخاب رنگ</h6>
            <ul class="pattern">
                <li class="list-inline-item">
                    <a class="color1" href=@Url.Content("~/Content/Styles/javascript: void(0);") onclick="setColor('default')"></a>
                </li>
                <li class="list-inline-item">
                    <a class="color2" href=@Url.Content("~/Content/Styles/javascript: void(0);") onclick="setColor('green')"></a>
                </li>
                <li class="list-inline-item">
                    <a class="color3" href=@Url.Content("~/Content/Styles/javascript: void(0);") onclick="setColor('purple')"></a>
                </li>
                <li class="list-inline-item">
                    <a class="color4" href=@Url.Content("~/Content/Styles/javascript: void(0);") onclick="setColor('red')"></a>
                </li>
                <li class="list-inline-item">
                    <a class="color5" href=@Url.Content("~/Content/Styles/javascript: void(0);") onclick="setColor('skyblue')"></a>
                </li>
                <li class="list-inline-item">
                    <a class="color6" href=@Url.Content("~/Content/Styles/javascript: void(0);") onclick="setColor('skobleoff')"></a>
                </li>
                <li class="list-inline-item">
                    <a class="color7" href=@Url.Content("~/Content/Styles/javascript: void(0);") onclick="setColor('cyan')"></a>
                </li>
                <li class="list-inline-item">
                    <a class="color8" href=@Url.Content("~/Content/Styles/javascript: void(0);") onclick="setColor('slateblue')"></a>
                </li>
                <li class="list-inline-item">
                    <a class="color9" href=@Url.Content("~/Content/Styles/javascript: void(0);") onclick="setColor('yellow')"></a>
                </li>
            </ul>

            <h6 class="title text-center pt-3 mb-0 border-top">استایل قالب</h6>
            <ul class="text-center list-unstyled">
                <li class="d-grid"><a href=@Url.Content("~/Content/Styles/javascript:void(0)") class="btn btn-sm btn-block btn-primary rtl-version t-rtl-light mt-2" onclick="setTheme('style-rtl')">RTL</a></li>
                <li class="d-grid"><a href=@Url.Content("~/Content/Styles/javascript:void(0)") class="btn btn-sm btn-block btn-primary ltr-version t-ltr-light mt-2" onclick="setTheme('style')">LTR</a></li>
                <li class="d-grid"><a href=@Url.Content("~/Content/Styles/javascript:void(0)") class="btn btn-sm btn-block btn-primary dark-rtl-version t-rtl-dark mt-2" onclick="setTheme('style-dark-rtl')">RTL</a></li>
                <li class="d-grid"><a href=@Url.Content("~/Content/Styles/javascript:void(0)") class="btn btn-sm btn-block btn-primary dark-ltr-version t-ltr-dark mt-2" onclick="setTheme('style-dark')">LTR</a></li>
                <li class="d-grid"><a href=@Url.Content("~/Content/Styles/javascript:void(0)") class="btn btn-sm btn-block btn-dark dark-version t-dark mt-2" onclick="setTheme('style-dark')">تاریک</a></li>
                <li class="d-grid"><a href=@Url.Content("~/Content/Styles/javascript:void(0)") class="btn btn-sm btn-block btn-dark light-version t-light mt-2" onclick="setTheme('style')">روشن</a></li>
            </ul>

            <h6 class="title text-center pt-3 mb-0 border-top">مدیریت</h6>
            <ul class="text-center list-unstyled mb-0">
                <li><a href=@Url.Content("~/Content/Styles/javascript:void(0)") target="_blank" class="btn btn-sm btn-block btn-success mt-2">داشبورد مدریت</a></li>
            </ul>
        </div>
        <div class="bottom">
            <a href=@Url.Content("~/Content/Styles/javascript: void(0);") class="settings bg-white title-bg-dark shadow d-block"><i class="mdi mdi-cog ms-1 mdi-24px position-absolute mdi-spin text-primary"></i></a>
        </div>
    </div>
    <!-- end Style switcher -->
    <!-- javascript -->
    <script src=@Url.Content("~/Content/Stylesjs/bootstrap.bundle.min.js")></script>
    <!-- Icons -->
    <script src=@Url.Content("~/Content/Stylesjs/feather.min.js")></script>
    <!-- Switcher -->
    <script src=@Url.Content("~/Content/Stylesjs/switcher.js")></script>
    <!-- Main Js -->
    <script src=@Url.Content("~/Content/Stylesjs/plugins.init.js")></script><!--Note: All init js like tiny slider, counter, countdown, maintenance, lightbox, gallery, swiper slider, aos animation etc.-->
    <script src=@Url.Content("~/Content/Stylesjs/app.js")></script><!--Note: All important javascript like page loader, menu, sticky menu, menu-toggler, one page menu etc. -->
</body>
</html>

