@{
    Layout = null;
}
@model Bambo.Models.ViewModel.UserViewModel
@{
    if (TempData.ContainsKey("Succeed") == true)
    {
        <div class="alert">
            <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
            با موفقیت وارد شدید
        </div>

    }
    else if (TempData.ContainsKey("Failed") == true)
    {
        <div class="alert">
            <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
            رمز عبور یا شماره تلفن اشتباهه
        </div>
    }
    else if (TempData.ContainsKey("Error") == true)
    {
        <div class="alert">
            <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
            لطفا کادر ها را پر کنید
        </div>
    }


}
<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" href="@Url.Content("~/Content/css/modals.css")">
</head>
<body>
    <div>

        @using (Html.BeginForm("EnterPerson", "Home", FormMethod.Post))
        {
            <form id="loginForm">
                <div class="thirdpart">
                    <div class="enteries">
                        <div class="mobile">
                            <input type="text" placeholder="شماره تلفن" name="CurrentCustomer.Phone">
                            <span class="lnr lnr-phone-handset"></span>
                        </div>
                        <div class="mobile">
                            <input type="password" placeholder="رمز عبور" name="CurrentCustomer.PasswordHashed">
                            <span class="lnr lnr-lock"></span>
                        </div>

                    </div>
                </div>
                <div class="fotrhpart">
                    <div class="recovery">
                        <a href="#">فراموشی رمز عبور</a>
                        <span class="lnr lnr-select"></span>
                    </div>

                    <div class="recovery">
                        <a href="@Url.Action("Register","Home")" .">ایجاد حساب کاربری جدید</a>
                        <span class="lnr lnr-plus-circle"></span>
                    </div>

                </div>
                <div class=" fifth">
                    <button type="submit" id="messageArea"> ورود </button>
                </div>
            </form>
        }
    </div>
    <script>
        var btn = document.getElementById("btnLogin");
        var modal = document.getElementById("loginModal");
        var btnClose = document.getElementById("CloseModal");
        btn.addEventListener("click", function () {
            modal.style.display = "flex";
        })
        btnClose.addEventListener("click", function () {
            modal.style.display = "none";
        })
    </script>
</body>

</html>
